/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to top left,#5372F0,#d9def3);
}
.wrapper{
  width: 420px;
  background: #fff;
  border-radius: 15px;
  padding: 30px 30px 25px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}
.wrapper header{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.wrapper .content{
  margin: 35px 0;
}
.content .quote-area{
  display: flex;
  justify-content: center;
}

.quote-area .quote{
  width: 25pc;
  font-size: 22px;
  text-align: center;
  word-break: break-all;
  border: 1px solid #5064b4;
}

.wrapper .buttons{
  border-top: 1px solid #ccc;
}


.buttons .features{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.features ul{
  display: flex;
}
.features ul li{
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  cursor: pointer;
  color: #5372F0;
  list-style: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid #5372F0;
  transition: all 0.3s ease;
}

.features ul li:hover {
  background-color: #5372F0;
  color: #ffffff;
}

.features ul li:first-child{
  margin-left: 0;
}

.buttons button{
  border: none;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  padding: 13px 22px;
  border-radius: 30px;
  background: #5372F0;
}

#credit span {
  color: aquamarine;
  cursor: pointer;
  text-decoration: none;
}

#credit {
  font-size: large;
  position: absolute;
  top: 34pc;
}

@media only screen and (max-width:700px) {
  .wrapper header {
    font-size: 24px;
  }

  .quote-area .quote {
    width: 15pc;
  }

  .wrapper .buttons button {
    padding: 10px 20px;
  }

  .wrapper {
    z-index: 1;
    width: 20pc;
  }


  #credit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32pc;
    font-size: 16px;
  }
}